<div class="kop">
  <div class="mark"><img src="data:image/png;base64,{{LOGO_B64}}" alt=""></div>
  <div class="info">
    <div class="wordmark">{{PT_MEREK}}</div>
    <div class="legal">{{PT_NAMA}}</div>
    <div class="meta">
      {{PT_ALAMAT}}<br>
      <span>NIB {{PT_NIB}}</span><span class="sep">|</span><span>NPWP {{PT_NPWP}}</span><span class="sep">|</span><span>SK Menkumham {{PT_SK_MENKUMHAM}}</span><br>
      <span>Telp. {{PT_TELP}}</span><span class="sep">|</span><span>{{PT_EMAIL}}</span><span class="sep">|</span><span>{{PT_TAGLINE}}</span>
    </div>
  </div>
</div>
<div class="rule"></div><div class="rule2"></div>
